<link href="{{ url_for('static', filename='css/include/nav.css') }}" rel="stylesheet" />

<nav>
  {% if not session.get("signinedMemberId") %}
  <div class="nav_wrap">
    <a href="/">Home</a>
    |
    <a href="/account/signup_form">Sign-Up</a>
    |
    <a href="/account/signin_form">Sign-In</a>
  </div>

  {% else %}
  <div class="nav_wrap">
    <a href="/">Home</a>
    |
    <a href="/account/signout_confirm">Sign-Out</a>
    |
    <a href="/account/modify_form">Modify</a>
    |
    <a href="/account/delete_confirm">Delete</a>
  </div>
  {% endif %}
</nav>
