<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Member service</title>
    <link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/account/account.css') }}" rel="stylesheet" />
  </head>
  <body>
    {% include 'include/header.html' %} {% include 'account/include/nav.html' %}

    <article id="delete_wrap">
      <div class="delete_result">
        <h3>Delete account for {{ id }}?</h3>
        <form action="{{ url_for('account.delete_confirm') }}" method="POST">
          <input class="input_button_basic_130" type="submit" value="YES" />
        </form>
      </div>
    </article>

    {% include 'include/footer.html' %}
  </body>
</html>
