<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Member service</title>
    <link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/account/account.css') }}" rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/account.js')}}"></script>
  </head>
  <body>
    {% include 'include/header.html' %} {% include 'include/nav.html' %}

    <article id="signin_wrap">
      {% if result == "False" %}
      <p class="signin_result">id or password was wrong.</p>
      {% endif %}

      <div class="signin_form">
        <form action="{{ url_for('account.signin_confirm') }}" method="POST" name="signin_form">
          <input class="input_basic" type="text" name="mId" placeholder="id: " /> <br />
          <input class="input_basic" type="password" name="mPw" placeholder="pw: " /> <br />
          <input class="input_button_basic_130" type="button" value="SIGN IN" onclick="signInForm()" />
          <input class="input_button_basic_130" type="reset" value="RESET" />
        </form>
      </div>
    </article>

    {% include 'include/footer.html' %}
  </body>
</html>
