<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Member service</title>
    <link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/account/account.css') }}" rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/account.js')}}"></script>
  </head>
  <body>
    {% include 'include/header.html' %} {% include 'include/nav.html' %}

    <article id="signup_wrap">
      <div class="signup_form">
        <form action="{{ url_for('account.signup_confirm') }}" method="POST" name="signup_form">
          <input class="input_basic" type="text" name="mId" placeholder="id: " /> <br />
          <input class="input_basic" type="password" name="mPw" placeholder="pw: " /> <br />
          <input class="input_basic" type="email" name="mMail" placeholder="mail: " /> <br />
          <input class="input_basic" type="text" name="mPhone" placeholder="phone: " /> <br />
          <input class="input_button_basic_130" type="button" value="SIGN UP" onclick="signupForm()" />
          <input class="input_button_basic_130" type="reset" value="RESET" />
        </form>
      </div>
    </article>

    {% include 'include/footer.html' %}
  </body>
</html>
