*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f5f6fa;
}

#wrap{
    width:700px;
    margin:60px auto;
}

.card{
    margin-top:40px;
    background:white;
    padding:50px;
    border-radius:25px;
}

.card p{
    color:gray;
    margin-top:25px;
}

.card h2{
    font-size:48px;
}

.money{
    font-size:42px;
    font-weight:bold;
}