<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo List</title>

    <link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" />

    <script src="{{ url_for('static', filename='js/todolist.js') }}"></script>
</head>
<body>
    {% include 'include/header.html' %} {% include 'include/nav.html' %}

    <article id="todo_delete_wrap">
      <div class="todo_delete_form">
        <form action="/todolist/todo_delete_form">
            
        </form>
      </div>
    </article>

    {% include 'include/footer.html' %}
  </body>
</html>
