<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo List</title>

    <link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" />

    <script src="{{ url_for('static', filename='js/todolist.js') }}"></script>
</head>
<body>
    {% include 'include/header.html' %} {% include 'include/nav.html' %}

    <article id="todo_write_wrap">
      <div class="todo_write_form">
        <form action="/todolist/todo_write_form" method="get" name="todo_write_form">
            <input class="input_basic" type="text" name="content" placeholder="Input Todo">
            <br>
            <input class="input_basic" type="date" name="expired_date">
            <br>
            <input class="radio_basic" type="radio" name="complete" value="Completed">Completed
            <br>
            <input class="radio_basic" type="radio" name="complete" value="Not Completed">Not Completed
            <br>
            <input class="input_button_basic_130" type="button" value="WRITE" onselect="todoWriteForm();">
            <input class="input_button_basic_130" type="reset" value="RESET">
        </form>
      </div>
    </article>

    {% include 'include/footer.html' %}
  </body>
</html>
