<link href="{{ url_for('static', filename='css/include/nav.css') }}" rel="stylesheet" />

<nav>
  {% if not session.get("signinedMemberId") %}
  <div class="nav_wrap">
    <a href="/">Home</a>
    |
    <a href="/account/">Account</a>
  </div>

  {% else %}
  <div class="nav_wrap">
    <a href="/">Home</a>
    |
    <a href="/account/">Account</a>
    |
    <a href="/bank/">Bank</a>
    |
    <a href="/diary/">Diary</a>
    |
    <a href="/memo/">Memo</a>
    |
    <a href="/todolist/">Todo</a>
  </div>
  {% endif %}
</nav>
