<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>MEMO_SERVICE</title>
    <link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/memo/memo.css') }}" rel="stylesheet" />
  </head>
  <body>
    {% include 'memo/include/header.html' %} {% include 'memo/include/nav.html' %}


    <form action="/memo/delete" method="post">
      <input type="number" min="0" max="2" name="memo_id" placeholder="삭제할 번호 입력" required >
      <button type="submit">delete</button>
      <button type="reset">reset</button>
    </form>
    

    {% include 'include/footer.html' %}
  </body>
</html>